.cell, #container, .col {
    display: flex;
}

.cell {
    background-color: aquamarine;
    flex: 1 0 20px;
}

.col {
    flex-direction: column;
    flex-grow: 1 ;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
    background-color: rgb(240, 232, 128);
}